// Specific CSS for your home-page
.banner {
  background-image: url("https://images.unsplash.com/photo-1562184724-0b0833e5ba27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=766&q=80");
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
}


.container {
  padding-top: 20px;
}


